<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/default}">
		
		<section layout:fragment="contents" class="d-flex justify-content-center">
			<div class="timeline col-6 border p-0">
				<div class="timelineUser">
					<div class="border-bottom">
						<div class="d-flex justify-content-between align-items-center my-1 mx-3">
							<div class="d-flex align-items-center">
								<img class="rounded-circle" width="40px" height="40px" alt="프로필 사진" src="https://cdn.pixabay.com/photo/2024/06/17/14/58/school-8835808_640.jpg">
								<span class="nickname ml-2">user</span>
							</div>
							<a class="more font-weight-bold text-dark">···</a>
						</div>
					</div>
					<div class="d-flex justify-content-center mt-2">
						<img width="580px" alt="게시물이미지" src="https://cdn.pixabay.com/photo/2024/08/18/14/34/folkstone-8978132_1280.jpg">
					</div>
				</div>
				
			</div>
		</section>
		
</html>