@charset "UTF-8";

#warp{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

.timeline{
	width: 600px;
}

.imagePlus{
	height: 300px;	
}

.logoFont{
	height: 120px;
	font-size: 75px;
	font-family: 'BagelFatOne-Regular';
}

.logo{
	height: 100px;
	font-size: 50px;
	font-family: 'BagelFatOne-Regular';
}


.mauva{
	background: #8E84E7;
	color: white;
}

.nickname{
	font-size: 25px;
}
.more{
	font-size: 35px;
}

@font-face {
    font-family: 'BagelFatOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/BagelFatOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}